<!DOCTYPE html>
<html>
    <head>
        <title>SAY - Error 404</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>Sorry, we couldn't find that page! Click <a href="/">here</a> to go back to the homepage.</p>
        <h1></h1>
    </body>
</html>