<!DOCTYPE html>
<html>
    <head>
        <title>SAY - Homepage</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="medium-box" style="margin-top: 80px;">
            <h2 style="text-align: center;">About Us</h3>
            <p>{{description}}</p>
        </div>
    </body>
</html>