<header>
    <img src="img/logo.jpeg" id="say-logo-img">
    <h1>Science Articles by Youth</h1>
    <a href="/">Home</a>
    <a href="/chemistry">Chemistry</a>
    <a href="/earth-sciences">Earth Sciences</a>
    <a href="/life-sciences">Life Sciences</a>
    <a href="/physics">Physics</a>
    <a href="/technology">Technology</a>
    <a href="/contact">Contact</a>
 </header>